.Guide {
    display: grid;
    grid-template-columns: 32rem 32rem 32rem!important;
    grid-template-rows: 60rem 60rem!important;
    grid-gap: 60px!important;  

}
  
@media only screen and (min-width: 600px) {
    .Guide {
      display: grid!important;
      grid-template-columns: 32rem!important;
      grid-template-rows: 60rem 60rem 60rem 60rem 60rem 60rem!important;
      grid-gap: 60px!important;
      justify-content: center!important;  
    }
  }
  
  
  .Guide--Item {
    position: relative;
    display: flex;
    margin: 0;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--lightGrey);
    border-radius: var(--borderRadius);
  }

  .Guide--Item:hover,
.Guide--Item:focus {
  transform: translateY(-1px);
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
}
  
  .Guide--Item-Link{
    font-weight: 700;
    font-size: 21px;
    text-decoration: none;
    position: relative;
    text-align: center;
  }
  
  
  .Guide--Item-Link::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
  
  .Guide--Item-Link:hover::before{
    visibility: visible;
    transform: scaleX(1);
    background-color: var(--primary);
  }
  
  
  @media only screen and (max-width: 750px) {
   
    .Guide--Item {
      width: 100%;
      max-width: 28rem;
      justify-content: center;
      margin-left: 5%;
    }
  }
  
  .Guide--Item > div {
    position: relative;
    width: 100%;
    border: 2px solid #f76707;
    height: 25rem;

  }
  
  .Guide--Item figcaption {
    text-align: center;
    padding: 1rem 0;
  }
  
  @supports (object-fit: cover) {
    .Guide--Item img {
      position: relative;
      object-fit: cover;
      object-position: center;
      height: 100%;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .Guide--Item h1{
      padding-bottom: 20px;
      height: 45px!important;
      }
      .Guide {
        display: grid!important;
        grid-template-columns: 32rem 32rem!important;
        grid-template-rows: 45rem 45rem 45rem!important;
        grid-gap: 42px!important;
        font-size: 12px!important;  
        justify-content: center;
      }
    
  }
  
  @media only screen and (max-width: 1024px) {
       .Guide {
        display: grid;
        grid-template-columns: 32rem 32rem;
        grid-template-rows: 55rem 55rem 55rem;
        grid-gap: 52px;
        justify-content: center;
      }
    
  }
  
  @media only screen and (min-width: 992px) {
    .Guide--Item h1{
      padding-bottom: 20px;
      height: 45px!important;
      }
      .Guide {
        display: grid!important;
        grid-template-columns: 32rem 32rem 32rem!important;
        grid-template-rows: 45rem 45rem!important;
        grid-gap: 20px!important;
        font-size: 12px!important;  
        justify-content: center;
      }
    

  }

  @media only screen and (max-width: 375px) {
    .Guide--Item h1{
      padding-bottom: 20px;
      height: 45px!important;
      }
      .Guide {
        display: grid!important;
        grid-template-columns: 32rem!important;
        grid-template-rows: 45rem 45rem 45rem 45rem 45rem 45rem!important;
        grid-gap: 20px!important;
        font-size: 12px!important;  
        justify-content: center;
      }
    

  }

  @media only screen and (max-width: 414px) {
    .Guide--Item h1{
      padding-bottom: 20px;
      height: 45px!important;
      }
      .Guide {
        display: grid!important;
        grid-template-columns: 32rem!important;
        grid-template-rows: 45rem 45rem 45rem 45rem 45rem 45rem!important;
        grid-gap: 20px!important;
        font-size: 12px!important;  
        justify-content: center;
      }
    

  }